<div *ngIf="lineSettings?.type === 'image'">
	<img src="{{lineSettings['link']}}"/>
</div>
<div *ngIf="lineSettings?.type === 'html'">
	<div [innerHTML]="lineSettings['link_output']"></div>
</div>
<div *ngIf="lineSettings?.type === 'text'">
	<div *ngFor="let line of lineSettings['link_output']">
		{{ line }}
	</div>
</div>
<div *ngIf="lineSettings?.type === 'pdfs'">

<div class="container">
<div class="row">

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pdf-div" *ngFor="let pdf of lineSettings.link_output"><a (click)="showPdf(pdf.pdf_link, pdf.name, pdf?.pdf_image)" class="pdf-link"><div><img src="{{pdf?.pdf_image}}" style="width:100%;"></div><div class="pdf-name-wrapper">{{pdf.name}}
	</div></a></div>
</div>
</div>
</div>