 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" routerLink="/">Kenneth Kuttler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" [ngClass]="{'active':router.url === '/'}">
              <a class="nav-link" routerLink="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item" [ngClass]="{'active':router.url === '/about'}">
              <a class="nav-link" routerLink="/about" >About</a>
            </li>
            <li class="nav-item" [ngClass]="{'active':router.url === '/publications'}">
              <a class="nav-link" routerLink="/publications">Publications</a>
            </li>
            <li class="nav-item" [ngClass]="{'active':router.url === '/notes'}">
              <a class="nav-link" routerLink="/notes">Lecture Notes and Books</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" style="margin-top:75px;">
		<router-outlet></router-outlet>
    </div>