<div class="pdf-wrapper" *ngIf="isVisible"  id="pdfHolderId">
	<span class="exitSpan" (click)="exitIt()" [routerLink]="['/']">X</span>
	<div class="container">
		<div class="row" style="margin-top:40px;" id="firstOptions">
		<div class="col-sm-3 col-6">
			<button (click)="incrementPage(-1)">Back</button>
		</div>
		
		<div class="col-sm-3 col-6">
			<button (click)="incrementPage(1)">Next</button>
		</div>
		<div class="col-sm-3 col-6">
			<input type="number" [(ngModel)]="currPage" style="width:50%;">
			<span *ngIf="totalPages">of {{ totalPages }}</span>
		</div>
		<div class="col-sm-3 col-6">
			<a href="{{pdfInfo?.link}}" (click)='sendDownloadEvent(pdfInfo.name)'>DOWNLOAD</a>
		</div>
		</div>
		<div class="row" id="secondOptions">
			<div class="col-sm-3 col-6">
				<button (click)="zoomPdf(-.1)">Smaller</button>
			</div>
			
			<div class="col-sm-3 col-6">
				<button (click)="zoomPdf(.1)">Larger</button>
			</div>
		</div>
		<div class="pdfHolderWrapper">
		<div class="pdfHolder" [ngStyle]="{'height':pdfHeight}">
		<img *ngIf="showLoader" src="/assets/images/Loading_icon.gif" style="width: 30%;margin-left: 35%;margin-top: 200px;">
				  <pdf-viewer [src]="pdfInfo?.link" 
				              [render-text]="true"
				              [show-all]="false"
				              [page]="currPage"
				              [fit-to-page]="true"
				              [autoresize]="true"
				              [original-size]="false"
				              [zoom]="pdfSize"
				              (error)="onError($event)"
				              (after-load-complete)="callBackFn($event)"
				              style="display: block;"
				  ></pdf-viewer>
				  </div>
				  </div>
	</div>
</div>